    <div id = "banner">
        <div class = "banner_text">
            <img id = "banner_icon" src = "https://www.pngkey.com/png/full/37-379897_logo-travel-logo-png-free.png">
            Micheal's Photo App
        </div>
