
<head>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">
    <script defer type="text/javascript" src="/public/js/home.js"></script>
</head>
<body>


    <h1 id = "item-count"></h1>
    

    <div id ="home-container">
        {{#each results}}
            {{> card this}}
        {{/each}}
    </div>
    
</body>
</html>